body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: red;
  background-image: url("./img/logo2.jpg");
  background-size: auto;
}
.headerInfo {
  background-image: url("./img/head-bg2.jpg");
  background-size: auto;
}
.homeTab {
  background-image: url("./img/tab-bg.jpg");
  background-size: auto;
}
.listItems {
  background-image: url("./img/list-bg.jpeg");
}
